body {
  background: url(./Images/t6.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}


.form {
  position:absolute;
  top:70%;
  left:50%;
  transform: translate(-50%,-50%);
} 
h1{
  /* font-family: 'Marck Script', cursive; */
  font-family: 'Carter One', cursive;
  color:whitesmoke;
}
#img-flight{
  width:200px;
  padding:10px;
  border-radius: 50%;
}
#flight-section{
  position: absolute;
  top:120%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: whitesmoke;
}